@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Playwrite+AU+QLD:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
h2 {
  font-family: "Playwrite AU QLD";
  font-size: x-large;
  font-weight: bolder;
  color: blueviolet;
}
.container {
  perspective: 600px;
  margin: 50px;
}
.box3d {
  width: 120px;
  height: 120px;
  margin: 50px 0;
  background-color: dodgerblue;
  color: white;
  text-align: center;
  line-height: 120px;
  font-weight: bolder;
  transition: transform 0.6s ease;
  font-family: "Playwrite AU QLD";
  font-size: small;
}
.rotateX:hover {
  transform: rotateX(360deg);
  
}
.rotateY:hover {
  transform: rotateY(360deg);
}
.rotateZ:hover {
  transform: rotateZ(360deg);
}
.translateZ:hover {
  transform: translateZ(360px);
}