/* Common styles for all boxes */
body {
  width: 1200px;
  height:400px;

  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  font-size: 30pt;
}

.box {
  
  background-color: rgb(34, 106, 189);
  border-radius: 10%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Individual styles (optional customization) */
.word-1 { height: 110px;
  width: 250px;}
.word-2 { height: 110px;
  width: 250px;}
.word-3 { height: 110px;
  width: 250px;}
.word-4 { height: 110px;
  width: 270px;}
.word-5 {  height: 100px;
  width: 400px;}
.word-6 { height: 100px;
  width: 300px; }
.word-7 { height: 100px;
  width: 400px; }
.word-8 { height: 100px;
  width: 430px; }
.word-9 { height: 100px;
  width: 330px; }
.word-10 { height: 100px;
  width: 380px;}
