.container{
    border:1px solid red;
    width: 97vh;
    display: flex;
    gap:100px;
    justify-content: center;
    align-items: center;
    margin: 0 80px;
}

.box{
    width: 150px;
    color: white;
    height: 150px;
    background-color:blue;
}



.child-2{
    transform: rotate(60deg);

}
.child-3{
    transform: rotate(90deg);

}
.child-4{
    transform: rotate(180deg);

}
.child-5{
    transform: rotate(360deg);

}
.child-6{
    transform: rotatex(60deg                                                                                                                                        );

}
.child-7{
    transform: rotatey(60deg);

}
.child-8{
    transform: rotatez(60deg);

}
c
